<% content_for :title do %>
    <%= @care_recipient.full_name %>
<% end %>

<% content_for :page_top do %>
    <%= link_to 'Assign a New Caregiver', dashboard_clients_caregivers_select_path(@care_recipient), :class => 'add-button add-caregiver' %>
<% end %>

<% content_for :sidebar_second do %>
    <h3>View all of the client's assigned caregivers here.</h3>

    <p>If you make an edit, make sure to click the "Save Changes" button.</p>
<% end  %>

<% content_for :page_caption do %>
    Assigned Caregivers
<% end %>

<div class="fill-page">
  <table class="employee-table">
    <tbody>
    <% @care_recipient.users.each do |user| %>
        <%=  render 'shared/row_employee', :employee => user %>
    <% end %>
    </tbody>
  </table>
</div>