<nav id="dashboard-employees-menu" class="dashboard-sidebar-menu">
  <% if @employee.blank? or @employee.id.blank? %>
        <%= render_navigation :level => 3 %>
    <% else %>
        <%= render_navigation :level => 4 %>
    <% end %>

</nav>
