<nav id="dashboard-employees-menu" class="dashboard-sidebar-menu">
  <ul>
    <li><%= link_to_unless_current 'Add New Employee', new_dashboard_employee_path %></li>
  </ul>
</nav>

<% unless @employee.blank? %>
    <%= render_navigation :level => 4 %>
<% end %>