<nav id="dashboard-employees-menu" class="dashboard-sidebar-menu">
  <ul>
    <li>Search</li>
    <li>Add New Employee</li>
  </ul>
</nav>

<% unless @employee.blank? %>
    <%= render_navigation :level => 4 %>
<% end %>