<% content_for :sidebar_second do %>
    <h3>View all employees from this page.</h3>

    <p>Search by name or browse through your database.</p>
<% end %>

<% content_for :title do %>
    Employees
<% end %>

<%= render 'dashboard/shared/employee_search_form' %>

<div id="employees-wrapper">
  <%= render 'dashboard/shared/employees_table' %>
</div>