<% content_for :sidebar_second do %>
    <h3>Add a new employee here.</h3>

    <p>Make sure all information in this section is filled out.</p>
    <p>After clicking "Save Changes", the employee can then log in to their account on their smartphone or tablet by downloading the Boomr Mobile Application.</p>
    <p>Use the Settings > Users page to reset an Employee password.
    </p>
<% end %>
<% content_for :title do %>
    Add New Employee
<% end %>
<%= render 'dashboard/shared/employee_form', :user => @user %>