<div class="padded-content">
  <p>
    We could not process your payment because you do not have a credit card on file. To add a card click below:
  </p>
  <%= link_to 'Add Credit Card', new_dashboard_settings_agency_credit_card_path, :class => 'link-button blue' %>
  <p>
    After entering new credit card, please restart the add user process.
  </p>
  <p>
    If your agency does not pay invoices via credit card, but uses another form of payment please call our support line to verify and approve this transaction.
  </p>
</div>