<div class="confirm-title">
<h1>Congratulations!</h1>
<h2>You Have Created Your First Account With Boomr.</h2>
</div>
<div class="left">
<p>1. Click here to log in:

2. Once you log in click on the “Employee” tab

3. Then click on the “Add A New Employee” link in the left hand column.

4. Follow the directions on the screen, after you have added an employee
they can download the Boomr App on their mobile device. Just search
“boomr” in either the Apple App Store or the Google Play Store. You
can also click on the below ima1. Click here to log in:

2. Once you log in click on the “Employee” tab

3. Then click on the “Add A New Employee” link in the left hand column.

4. Follow the directions on the screen, after you have added an employee
they can download the Boomr App on their mobile device. Just search
“boomr” in either the Apple App Store or the Google Play Store. You
can also click on the below images to download the app to a computer.ges to download the app to a computer.</p>
</div>
<div class="sign-up-image"><%= image_tag 'sign-up-img.png' %></div>
