@import 'dashboard/sass';

form {
  .form-field {
    margin: 20px 0px;

    &.dob {
      width:100%;
      overflow: auto;
    }

    div.label {
      label {
        font-weight: bold;
      }

      div.description {
        font-size: 0.9em;
      }

      span.required {
        color: #ff0000;
      }
    }

    div.field {

    }

    span.error {

      input {
      border: 1px solid #ff0000;
      }
      .help-inline {
        color: #ff0000;
      }
    }

  }

  &.search-form {
    * {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &.new-batch-form {
    .form-field {
      float: left;
      margin-right: 15px;
      margin-top: 0;

      div.label {
        label {
          font-weight: normal;
        }
      }

      .field {
        input {
          display: inline-block !important;
        }
      }
    }
  }


  .form-address {

    .street {
      input {
        width: 180px;
      }
    }

    .csz {

      @include container-with-floats;

      div.form-field {
        float: left;
        margin-right: 15px;
        margin-top: 0;
        margin-bottom: 0;

        &.city {
          input {
            width: 80px;
          }
        }
        &.state {
          input {
            width: 30px;
          }
        }
        &.zip {
          input {
            width: 40px;
          }
        }
      }

    }

  }

}

.selectbox {
  float: left;
  margin: 0 15px 0 0px !important;

  .text {
    font-size: 12px;
    color: $bodyText;

    float: left;

    @include bold-font;

    margin: 0;
    padding-right: 26px;
    height: 30px;
    overflow: hidden;
    background: transparent url(image_path('dd-select.png')) no-repeat right -26px;
    position:relative;
    top: -1px;

    em {
      display: none;
      position: absolute;
      margin: 6px 0 0 10px;
      width: 16px;
      height: 16px;
      background: transparent url(image_path('loading.gif')) no-repeat center center;
    }

    span {
      margin: 1px 0 0 0;
      padding: 6px 0 0 10px;
      background: transparent url(image_path('dd-select.png')) no-repeat left top;
      display:block;
      height: 30px;
      color: $bodyText;
    }
  }
}


.set-password {
  &.existing-user {
    display: none;
  }
}

form.edit_agency {
  table {
    width: 80%;

    td {
      border-left: 1px solid  #d4d4d4;
      border-right: 1px solid  #d4d4d4;
    }
  }
  input[type="submit"] {
    margin-top: 20px;
  }
}