<% content_for :title do %>
    Create Payroll Batch
<% end %>

<% content_for :sidebar_second do %>
    <p>Set the date range you would like to pay employees for and then click "Create Batch" </p>
    <p>Click "View/edit" next to an batch to see visit details and make adjustments to pay rates.</p>
    <p>When finished, click "Save and Export" to complete the batch. </p>
    <p>Exported batches and payroll reports will automatically download to your computer. </p>
<% end %>

<% content_for :page_top do %>

    <%= render 'dashboard/reports/shared/create_payroll_batch_form' %>

<% end %>
