/* line 6, ../../app/assets/stylesheets/dashboard.css.scss */
body.dashboard #breadcrumb {
  margin-left: 20px;
}
/* line 10, ../../app/assets/stylesheets/dashboard.css.scss */
body.dashboard .title-wrapper {
  width: 100%;
  overflow: auto;
  margin-left: 0;
  margin-bottom: 50px;
  border-bottom: 1px solid #d5d5d5;
}
/* line 17, ../../app/assets/stylesheets/dashboard.css.scss */
body.dashboard .title-wrapper .title-wrapper-inner {
  padding-bottom: 0;
  padding-left: 20px;
}
/* line 23, ../../app/assets/stylesheets/dashboard.css.scss */
body.dashboard .title-wrapper h1 {
  font-weight: normal;
  margin-right: 50px;
  margin-top: 1.05em;
}
/* line 30, ../../app/assets/stylesheets/dashboard.css.scss */
body.dashboard .title-wrapper #page-top {
  margin: 1.5em 0;
}
/* line 35, ../../app/assets/stylesheets/dashboard.css.scss */
body.dashboard .title-wrapper #page-top form div.field {
  float: none;
  display: inline-block;
  vertical-align: middle;
  margin-right: auto;
}
/* line 45, ../../app/assets/stylesheets/dashboard.css.scss */
body.dashboard .title-wrapper #page-top form div.field input {
  display: block;
}
/* line 59, ../../app/assets/stylesheets/dashboard.css.scss */
body.dashboard #page #main #content-inner {
  margin-left: 0px;
}
/* line 62, ../../app/assets/stylesheets/dashboard.css.scss */
body.dashboard #page #main #content-inner > form {
  margin-left: 20px;
}
/* line 66, ../../app/assets/stylesheets/dashboard.css.scss */
body.dashboard #page #main #content-inner .page-caption {
  margin-left: 0px;
  background: #f7f7f7;
  text-transform: uppercase;
  border-top: 1px solid #eae9ea;
  border-bottom: 1px solid #eae9ea;
  padding: 4px 15px;
  color: #727474;
  font-size: 14px;
}
/* line 77, ../../app/assets/stylesheets/dashboard.css.scss */
body.dashboard #page #main #content-inner p {
  margin: 1em 20px;
}
/* line 86, ../../app/assets/stylesheets/dashboard.css.scss */
body.dashboard.dashboard-main.index .title-wrapper {
  margin-bottom: 50px;
}
/* line 101, ../../app/assets/stylesheets/dashboard.css.scss */
body.dashboard.visits #calendar-wrapper {
  width: 386px;
  margin: 30px 10px 10px 20px;
  background: #e2ecf2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 107, ../../app/assets/stylesheets/dashboard.css.scss */
body.dashboard.visits #calendar-wrapper #calendar-inner {
  padding: 10px;
}
/* line 112, ../../app/assets/stylesheets/dashboard.css.scss */
body.dashboard.visits #calendar {
  margin: 0 auto;
  position: relative;
}
/* line 116, ../../app/assets/stylesheets/dashboard.css.scss */
body.dashboard.visits #calendar .ui-datepicker-header {
  height: 40px;
}
/* line 120, ../../app/assets/stylesheets/dashboard.css.scss */
body.dashboard.visits #calendar .ui-datepicker-title {
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  -moz-text-stroke: 1px transparent;
  -webkit-text-stroke: 1px transparent;
  text-stroke: 1px transparent;
  text-shadow: white 1px 1px 0;
}
/* line 127, ../../app/assets/stylesheets/dashboard.css.scss */
body.dashboard.visits #calendar .ui-datepicker-prev, body.dashboard.visits #calendar .ui-datepicker-next {
  position: absolute;
  top: -2px;
  width: 27px;
  height: 27px;
}
/* line 132, ../../app/assets/stylesheets/dashboard.css.scss */
body.dashboard.visits #calendar .ui-datepicker-prev span, body.dashboard.visits #calendar .ui-datepicker-next span {
  visibility: hidden;
}
/* line 137, ../../app/assets/stylesheets/dashboard.css.scss */
body.dashboard.visits #calendar .ui-datepicker-prev {
  left: 0px;
  background: url(month-arrow-left.png) no-repeat;
}
/* line 142, ../../app/assets/stylesheets/dashboard.css.scss */
body.dashboard.visits #calendar .ui-datepicker-next {
  right: 0px;
  background: url(month-arrow-right.png) no-repeat;
}
/* line 147, ../../app/assets/stylesheets/dashboard.css.scss */
body.dashboard.visits #calendar th {
  border-right: none;
  border-left: none;
  background-color: #eaeaea;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEAEAEA', endColorstr='#FFCACACA');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eaeaea), color-stop(80%, #eaeaea), color-stop(100%, #dadada));
  background-image: -webkit-linear-gradient(top, #eaeaea 0%, #eaeaea 80%, #dadada 100%);
  background-image: -moz-linear-gradient(top, #eaeaea 0%, #eaeaea 80%, #dadada 100%);
  background-image: -o-linear-gradient(top, #eaeaea 0%, #eaeaea 80%, #dadada 100%);
  background-image: -ms-linear-gradient(top, #eaeaea 0%, #eaeaea 80%, #dadada 100%);
  background-image: linear-gradient(top, #eaeaea 0%, #eaeaea 80%, #dadada 100%);
  text-align: center;
  font-size: 1.2em;
}
/* line 157, ../../app/assets/stylesheets/dashboard.css.scss */
body.dashboard.visits #calendar td {
  background-color: #f9f9f9;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF9F9F9', endColorstr='#FFEAEAEA');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(70%, #f9f9f9), color-stop(100%, #eaeaea));
  background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #f9f9f9 70%, #eaeaea 100%);
  background-image: -moz-linear-gradient(top, #f9f9f9 0%, #f9f9f9 70%, #eaeaea 100%);
  background-image: -o-linear-gradient(top, #f9f9f9 0%, #f9f9f9 70%, #eaeaea 100%);
  background-image: -ms-linear-gradient(top, #f9f9f9 0%, #f9f9f9 70%, #eaeaea 100%);
  background-image: linear-gradient(top, #f9f9f9 0%, #f9f9f9 70%, #eaeaea 100%);
  border: 1px solid #d4d4d4;
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
  text-shadow: white 1px 1px;
  height: 30px;
  position: relative;
}
/* line 167, ../../app/assets/stylesheets/dashboard.css.scss */
body.dashboard.visits #calendar td.current {
  background: #6191f2 !important;
  color: #fff;
  -moz-box-shadow: inset 0 0 5px #333366;
  -webkit-box-shadow: inset 0 0 5px #333366;
  box-shadow: inner 0 0 3px #333366;
}
/* line 174, ../../app/assets/stylesheets/dashboard.css.scss */
body.dashboard.visits #calendar td.current a {
  color: #fff;
  text-shadow: black 1px 1px;
}
/* line 181, ../../app/assets/stylesheets/dashboard.css.scss */
body.dashboard.visits #calendar td.has-visits .mini-dot {
  position: absolute;
  right: 3px;
  top: 3px;
  width: 9px;
  height: 9px;
  background: url(red-tiny.png) no-repeat;
}
/* line 191, ../../app/assets/stylesheets/dashboard.css.scss */
body.dashboard.visits #calendar td a {
  color: #727474;
  text-decoration: none;
}
/* line 202, ../../app/assets/stylesheets/dashboard.css.scss */
body.dashboard table thead td, body.dashboard table thead th {
  background-color: #f9f9f9;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF9F9F9', endColorstr='#FFEAEAEA');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(70%, #f9f9f9), color-stop(100%, #eaeaea));
  background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #f9f9f9 70%, #eaeaea 100%);
  background-image: -moz-linear-gradient(top, #f9f9f9 0%, #f9f9f9 70%, #eaeaea 100%);
  background-image: -o-linear-gradient(top, #f9f9f9 0%, #f9f9f9 70%, #eaeaea 100%);
  background-image: -ms-linear-gradient(top, #f9f9f9 0%, #f9f9f9 70%, #eaeaea 100%);
  background-image: linear-gradient(top, #f9f9f9 0%, #f9f9f9 70%, #eaeaea 100%);
  border: 1px solid #d4d4d4;
  border-radius: 2px;
}
/* line 209, ../../app/assets/stylesheets/dashboard.css.scss */
body.dashboard table tbody tr {
  border-bottom: 1px solid #d5d5d5;
}
/* line 212, ../../app/assets/stylesheets/dashboard.css.scss */
body.dashboard table tbody td {
  vertical-align: middle;
}
/* line 219, ../../app/assets/stylesheets/dashboard.css.scss */
body.dashboard table.batch-history tr.batch-details {
  display: none;
}
