/* line 3, ../../app/assets/stylesheets/layout.css.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 8, ../../app/assets/stylesheets/layout.css.scss */
body.splash {
  background: #fff;
}
/* line 11, ../../app/assets/stylesheets/layout.css.scss */
body.splash #splash {
  margin-top: 150px;
  text-align: center;
}
/* line 18, ../../app/assets/stylesheets/layout.css.scss */
body.splash #splash form div {
  margin: 1em 0;
}

/* line 30, ../../app/assets/stylesheets/layout.css.scss */
body.main #page #content {
  width: 100%;
}
/* line 33, ../../app/assets/stylesheets/layout.css.scss */
body.main #page #content #content-inner {
  padding: 20px;
}

/* line 47, ../../app/assets/stylesheets/layout.css.scss */
body.with-sidebar-second #page #main #sidebar-second {
  float: left;
  width: 208px;
  margin-left: -209px;
  border-left: 1px solid #d5d5d5;
  min-height: 400px;
  background: #f6f9fb;
}
/* line 56, ../../app/assets/stylesheets/layout.css.scss */
body.with-sidebar-second #page #main #sidebar-second .main-col-inner {
  padding: 8px 8px 60px 8px;
}
/* line 63, ../../app/assets/stylesheets/layout.css.scss */
body.with-sidebar-second #page #main #content #content-wrapper {
  margin: 0 208px 0 168px;
}

/* line 73, ../../app/assets/stylesheets/layout.css.scss */
#page {
  width: 100%;
  min-width: 960px;
  background: #fff;
}
/* line 81, ../../app/assets/stylesheets/layout.css.scss */
#page #header {
  background: url(top-toolbar-bg.jpg) repeat-x;
  height: 55px;
}
/* line 85, ../../app/assets/stylesheets/layout.css.scss */
#page #header #header-inner {
  padding: 10px 20px;
}
/* line 89, ../../app/assets/stylesheets/layout.css.scss */
#page #header h1 {
  margin: 0;
  margin-top: 11px;
  font-size: 21px;
  color: #727474;
  float: left;
}
/* line 99, ../../app/assets/stylesheets/layout.css.scss */
#page #header #top-bar #greeting {
  float: right;
  margin-right: 50px;
  font-size: 15.53px;
  margin-top: 15px;
}
/* line 111, ../../app/assets/stylesheets/layout.css.scss */
#page #main .main-col-inner {
  padding: 8px 0px 60px 0px;
}
/* line 115, ../../app/assets/stylesheets/layout.css.scss */
#page #main #sidebar-first {
  float: left;
  width: 168px;
  border-right: 1px solid #d5d5d5;
  min-height: 400px;
  background: #fff;
  margin-left: -100%;
}
/* line 123, ../../app/assets/stylesheets/layout.css.scss */
#page #main #sidebar-first .main-col-inner {
  padding: 0;
  padding-bottom: 60px;
}
/* line 129, ../../app/assets/stylesheets/layout.css.scss */
#page #main #content {
  float: left;
  width: 100%;
  background: #fff;
}
/* line 134, ../../app/assets/stylesheets/layout.css.scss */
#page #main #content #content-wrapper {
  margin: 0 0 0 168px;
}
/* line 138, ../../app/assets/stylesheets/layout.css.scss */
#page #main #content .main-col-inner {
  padding-bottom: 300px;
}

/* line 147, ../../app/assets/stylesheets/layout.css.scss */
#copyright {
  font-size: 0.8em;
  text-align: center;
  margin-top: 40px;
}

/* line 153, ../../app/assets/stylesheets/layout.css.scss */
#footer-menu {
  text-align: center;
  margin: 20px auto;
}

/* line 158, ../../app/assets/stylesheets/layout.css.scss */
#nap {
  text-align: center;
}
