/* line 6, ../../app/assets/stylesheets/layout.css.scss */
body.main #page #content {
  width: 100%;
}
/* line 9, ../../app/assets/stylesheets/layout.css.scss */
body.main #page #content #content-inner {
  padding: 20px;
}

/* line 23, ../../app/assets/stylesheets/layout.css.scss */
body.with-sidebar-second #page #main #sidebar-second {
  float: left;
  width: 208px;
  border-left: 1px solid #d5d5d5;
  min-height: 400px;
  background: #f6f9fb;
}
/* line 31, ../../app/assets/stylesheets/layout.css.scss */
body.with-sidebar-second #page #main #sidebar-second .main-col-inner {
  padding: 8px 8px 60px 8px;
}
/* line 37, ../../app/assets/stylesheets/layout.css.scss */
body.with-sidebar-second #page #main #content {
  width: 650px;
}

/* line 46, ../../app/assets/stylesheets/layout.css.scss */
#page {
  width: 1030px;
  margin: 0 auto;
  background: #fff;
  -webkit-box-shadow: -2px -2px 12px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: -2px -2px 12px rgba(0, 0, 0, 0.67);
  box-shadow: -2px -2px 12px rgba(0, 0, 0, 0.67);
}
/* line 56, ../../app/assets/stylesheets/layout.css.scss */
#page #header {
  background: url(top-toolbar-bg.jpg) repeat-x;
  height: 55px;
}
/* line 60, ../../app/assets/stylesheets/layout.css.scss */
#page #header #header-inner {
  padding: 10px 20px;
}
/* line 64, ../../app/assets/stylesheets/layout.css.scss */
#page #header h1 {
  margin: 0;
  margin-top: 11px;
  font-size: 21px;
  color: #727474;
  float: left;
}
/* line 74, ../../app/assets/stylesheets/layout.css.scss */
#page #header #top-bar #greeting {
  float: right;
  margin-right: 50px;
  font-size: 15.53px;
  margin-top: 15px;
}
/* line 86, ../../app/assets/stylesheets/layout.css.scss */
#page #main .main-col-inner {
  padding: 8px 0px 60px 0px;
}
/* line 90, ../../app/assets/stylesheets/layout.css.scss */
#page #main #sidebar-first {
  float: left;
  width: 168px;
  border-right: 1px solid #d5d5d5;
  min-height: 400px;
  background: #fff;
}
/* line 97, ../../app/assets/stylesheets/layout.css.scss */
#page #main #sidebar-first .main-col-inner {
  padding: 0;
  padding-bottom: 60px;
}
/* line 103, ../../app/assets/stylesheets/layout.css.scss */
#page #main #content {
  float: left;
  width: 860px;
  background: #fff;
}
/* line 108, ../../app/assets/stylesheets/layout.css.scss */
#page #main #content .main-col-inner {
  padding-bottom: 300px;
}

/* line 117, ../../app/assets/stylesheets/layout.css.scss */
#copyright {
  font-size: 0.8em;
  text-align: center;
  margin-top: 40px;
}

/* line 123, ../../app/assets/stylesheets/layout.css.scss */
#footer-menu {
  text-align: center;
  margin: 20px auto;
}

/* line 128, ../../app/assets/stylesheets/layout.css.scss */
#nap {
  text-align: center;
}
