/* line 4, ../../app/assets/stylesheets/layout.css.scss */
body.main #content {
  width: 100%;
}

/* line 13, ../../app/assets/stylesheets/layout.css.scss */
body.with-sidebar-second #page #main #sidebar-second {
  float: left;
  width: 208px;
  border-left: 1px solid #d5d5d5;
  min-height: 400px;
  background: #f6f9fb;
}
/* line 21, ../../app/assets/stylesheets/layout.css.scss */
body.with-sidebar-second #page #main #sidebar-second .main-col-inner {
  padding: 8px 8px 60px 8px;
}
/* line 27, ../../app/assets/stylesheets/layout.css.scss */
body.with-sidebar-second #page #main #content {
  width: 650px;
}

/* line 36, ../../app/assets/stylesheets/layout.css.scss */
#page {
  width: 1030px;
  margin: 0 auto;
  background: #fff;
  -webkit-box-shadow: -2px -2px 12px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: -2px -2px 12px rgba(0, 0, 0, 0.67);
  box-shadow: -2px -2px 12px rgba(0, 0, 0, 0.67);
}
/* line 46, ../../app/assets/stylesheets/layout.css.scss */
#page #header {
  background: url(top-toolbar-bg.jpg) repeat-x;
  height: 55px;
}
/* line 50, ../../app/assets/stylesheets/layout.css.scss */
#page #header #header-inner {
  padding: 10px 20px;
}
/* line 54, ../../app/assets/stylesheets/layout.css.scss */
#page #header h1 {
  margin: 0;
  margin-top: 11px;
  font-size: 21px;
  color: #727474;
  float: left;
}
/* line 64, ../../app/assets/stylesheets/layout.css.scss */
#page #header #top-bar #greeting {
  float: right;
  margin-right: 50px;
  font-size: 15.53px;
  margin-top: 15px;
}
/* line 76, ../../app/assets/stylesheets/layout.css.scss */
#page #main .main-col-inner {
  padding: 8px 0px 60px 0px;
}
/* line 80, ../../app/assets/stylesheets/layout.css.scss */
#page #main #sidebar-first {
  float: left;
  width: 168px;
  border-right: 1px solid #d5d5d5;
  min-height: 400px;
  background: #fff;
}
/* line 87, ../../app/assets/stylesheets/layout.css.scss */
#page #main #sidebar-first .main-col-inner {
  padding: 0;
  padding-bottom: 60px;
}
/* line 93, ../../app/assets/stylesheets/layout.css.scss */
#page #main #content {
  float: left;
  width: 860px;
  background: #fff;
}
/* line 98, ../../app/assets/stylesheets/layout.css.scss */
#page #main #content .main-col-inner {
  padding-bottom: 300px;
}

/* line 107, ../../app/assets/stylesheets/layout.css.scss */
#copyright {
  font-size: 0.8em;
  text-align: center;
  margin-top: 40px;
}
