/* line 4, ../../app/assets/stylesheets/navigation.css.scss */
nav ul, nav li {
  list-style-type: none;
  list-style-position: outside;
  margin: 0;
  padding: 0;
}

/* line 9, ../../app/assets/stylesheets/navigation.css.scss */
#breadcrumb {
  margin-top: 15px;
  color: #999999;
}
/* line 13, ../../app/assets/stylesheets/navigation.css.scss */
#breadcrumb span {
  color: #6293f3;
}
/* line 17, ../../app/assets/stylesheets/navigation.css.scss */
#breadcrumb a {
  color: #6293f3;
  text-decoration: none;
  display: inline-block;
}

/* line 24, ../../app/assets/stylesheets/navigation.css.scss */
#navigation {
  margin-top: 16px;
  background: #fff;
  border-bottom: 1px solid #d5d5d5;
}
/* line 30, ../../app/assets/stylesheets/navigation.css.scss */
#navigation #dashboard-top-menu {
  margin-left: 168px;
}
/* line 33, ../../app/assets/stylesheets/navigation.css.scss */
#navigation #dashboard-top-menu ul, #navigation #dashboard-top-menu li {
  list-style-type: none;
  list-style-position: outside;
  margin: 0;
  padding: 0;
}
/* line 40, ../../app/assets/stylesheets/navigation.css.scss */
#navigation #dashboard-top-menu li {
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}
/* line 46, ../../app/assets/stylesheets/navigation.css.scss */
#navigation #dashboard-top-menu li a {
  border: none;
  display: inline-block;
  font-family: Helvetica, sans-serif;
  font-size: 1.2em;
  text-align: center;
  padding: 10px 0px;
  color: #727474;
  text-decoration: none;
}
/* line 63, ../../app/assets/stylesheets/navigation.css.scss */
#navigation #dashboard-top-menu li.selected {
  border-top: 3px solid #98d4e1;
  border-right: 1px solid #d5d5d5;
  border-left: 1px solid #d5d5d5;
  border-bottom: 1px solid white;
  position: relative;
  bottom: -1px;
}

/* line 77, ../../app/assets/stylesheets/navigation.css.scss */
#top-menu {
  float: right;
  margin: 0;
}
/* line 81, ../../app/assets/stylesheets/navigation.css.scss */
#top-menu a {
  display: inline-block;
  border: 1px solid #dd564b;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #fe776c;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFE776C', endColorstr='#FFF26B61');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fe776c), color-stop(50%, #f26b61));
  background-image: -webkit-linear-gradient(top, #fe776c 0%, #f26b61 50%);
  background-image: -moz-linear-gradient(top, #fe776c 0%, #f26b61 50%);
  background-image: -o-linear-gradient(top, #fe776c 0%, #f26b61 50%);
  background-image: linear-gradient(top, #fe776c 0%, #f26b61 50%);
  color: white;
  -moz-text-stroke: 1px transparent;
  -webkit-text-stroke: 1px transparent;
  text-stroke: 1px transparent;
  text-shadow: #e0655c -1px -1px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  margin: 0px 8px;
  padding: 5px 12px;
}

/* line 97, ../../app/assets/stylesheets/navigation.css.scss */
.dashboard-sidebar-menu ul li {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: #727474;
}
/* line 101, ../../app/assets/stylesheets/navigation.css.scss */
.dashboard-sidebar-menu ul li li.selected {
  color: #6293f3;
}
/* line 106, ../../app/assets/stylesheets/navigation.css.scss */
.dashboard-sidebar-menu ul li a.selected {
  color: #6293f3;
}
/* line 110, ../../app/assets/stylesheets/navigation.css.scss */
.dashboard-sidebar-menu ul li a {
  display: block;
  padding: 12px 12px;
  color: #727474;
  text-decoration: none;
}
/* line 117, ../../app/assets/stylesheets/navigation.css.scss */
.dashboard-sidebar-menu ul li ul {
  margin-left: 15px;
}
