/* line 5, ../../app/assets/stylesheets/styles.css.scss */
ul.three-columns, ol.three-columns {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
}

/* line 13, ../../app/assets/stylesheets/styles.css.scss */
tr.visit-row.approved {
  background: #ccffcc;
}
/* line 18, ../../app/assets/stylesheets/styles.css.scss */
tr.visit-row td.employee, tr.visit-row td.client {
  width: 120px;
}
/* line 22, ../../app/assets/stylesheets/styles.css.scss */
tr.visit-row td.payrate, tr.visit-row td.billrate {
  width: 60px;
}
/* line 25, ../../app/assets/stylesheets/styles.css.scss */
tr.visit-row td.payrate input[type="text"], tr.visit-row td.billrate input[type="text"] {
  width: 30px;
}
/* line 30, ../../app/assets/stylesheets/styles.css.scss */
tr.visit-row td.in-time, tr.visit-row td.out-time {
  width: 65px;
}
/* line 34, ../../app/assets/stylesheets/styles.css.scss */
tr.visit-row td.duration {
  width: 60px;
}
/* line 38, ../../app/assets/stylesheets/styles.css.scss */
tr.visit-row td.wrapper {
  padding: 0;
  text-align: left;
}
/* line 42, ../../app/assets/stylesheets/styles.css.scss */
tr.visit-row td.wrapper table {
  width: 100%;
}
/* line 47, ../../app/assets/stylesheets/styles.css.scss */
tr.visit-row td.approve {
  text-align: center;
}

/* line 54, ../../app/assets/stylesheets/styles.css.scss */
#activity-stream-wrapper .activity-stream-item {
  clear: both;
  margin: 10px 0;
}
/* line 58, ../../app/assets/stylesheets/styles.css.scss */
#activity-stream-wrapper .activity-stream-item div.icon {
  float: left;
  width: 75px;
  height: 75px;
  margin-right: 10px;
}
/* line 65, ../../app/assets/stylesheets/styles.css.scss */
#activity-stream-wrapper .activity-stream-item h3 {
  font-size: 1.2em;
}
/* line 69, ../../app/assets/stylesheets/styles.css.scss */
#activity-stream-wrapper .activity-stream-item div.time {
  font-size: 0.85em;
  font-style: italic;
}
/* line 74, ../../app/assets/stylesheets/styles.css.scss */
#activity-stream-wrapper .activity-stream-item.js {
  display: none;
}
