<% content_for :page_top do %>
    <%= render 'dashboard/reports/shared/jump_menu' %>
<% end %>

<% content_for :sidebar_second do %>
    <p>Click "Billing" to create new client invoices or search for invoices that have already been created. </p>
    <p>Click "Payroll" to create new payroll batches or search for payroll batches that have already been created. </p>
<% end %>