<nav id="dashboard-reports-menu" class="dashboard-sidebar-menu">
  <ul>
    <li><%= link_to_unless_current 'Settled Batches', dashboard_reports_payroll_batches_path %></li>
    <li><%= link_to_unless_current 'Unbatched Visits', dashboard_reports_payroll_unbatched_path %></li>
  </ul>
</nav>