
<% content_for :page_top do %>

    <%= render 'dashboard/reports/shared/create_invoices_form' %>

<% end %>

<% content_for :sidebar_second do %>
    <p>Set the date range you would like to bill for and then click "Create Invoices" </p>
    <p>Click "View/edit" next to an invoice to see visit details and make adjustments to billing rates.</p>
    <p>When finished, select the invoices you want to export and click "Save and Export".</p>
    <p>Exported invoices will automatically download to your computer.</p>
<% end %>