<% content_for :title do %>
    Billing
<% end %>



<% content_for :page_top do %>

    <%= render 'dashboard/reports/billing/invoices/create_invoices_form' %>



<% end %>

<% unless @pending_invoices.blank? or @pending_invoices.empty? %>


         <%= form_tag dashboard_reports_billing_invoices_save_pending_path, :method => :post do %>

        Total: <%= @invoice_total_formatted %>

        <% submit_tag 'Save', 'data-action' => dashboard_reports_billing_invoices_save_pending_path  %>
        <% submit_tag 'Cancel', 'data-action' => dashboard_reports_billing_invoices_cancel_pending_path %>


    <h2>Invoices</h2>

    <%= render 'dashboard/reports/shared/invoices_table', :invoices => @pending_invoices %>


        <% end %>
<% end %>
