<% content_for :page_title do %>
    Invoice <%= @invoice.invoice_number_formatted %> (<%= @invoice.care_recipient.full_name%>)
<% end %>

<div class="summary">
  <strong>Invoice date:</strong> <%= @invoice.invoice_date.to_formatted_s(:mdy) %><br>
  <strong>Due date:</strong> <%= @invoice.due_date.to_formatted_s(:mdy) %><br>
</div>
