/* line 4, ../../../app/assets/stylesheets/dashboard/forms.css.scss */
form .form-field {
  margin: 20px 0px;
}
/* line 7, ../../../app/assets/stylesheets/dashboard/forms.css.scss */
form .form-field.dob {
  width: 100%;
  overflow: auto;
}
/* line 13, ../../../app/assets/stylesheets/dashboard/forms.css.scss */
form .form-field div.label label {
  font-weight: bold;
}
/* line 17, ../../../app/assets/stylesheets/dashboard/forms.css.scss */
form .form-field div.label div.description {
  font-size: 0.9em;
}
/* line 21, ../../../app/assets/stylesheets/dashboard/forms.css.scss */
form .form-field div.label span.required {
  color: #ff0000;
}
/* line 32, ../../../app/assets/stylesheets/dashboard/forms.css.scss */
form .form-field span.error input {
  border: 1px solid #ff0000;
}
/* line 35, ../../../app/assets/stylesheets/dashboard/forms.css.scss */
form .form-field span.error .help-inline {
  color: #ff0000;
}
/* line 43, ../../../app/assets/stylesheets/dashboard/forms.css.scss */
form.search-form * {
  display: inline-block;
  vertical-align: middle;
}
/* line 50, ../../../app/assets/stylesheets/dashboard/forms.css.scss */
form.new-batch-form .form-field {
  float: left;
  margin-right: 15px;
  margin-top: 0;
}
/* line 56, ../../../app/assets/stylesheets/dashboard/forms.css.scss */
form.new-batch-form .form-field div.label label {
  font-weight: normal;
}
/* line 62, ../../../app/assets/stylesheets/dashboard/forms.css.scss */
form.new-batch-form .form-field .field input {
  display: inline-block !important;
}
/* line 73, ../../../app/assets/stylesheets/dashboard/forms.css.scss */
form .form-address .street input {
  width: 180px;
}
/* line 78, ../../../app/assets/stylesheets/dashboard/forms.css.scss */
form .form-address .csz {
  width: 100%;
  overflow: auto;
}
/* line 82, ../../../app/assets/stylesheets/dashboard/forms.css.scss */
form .form-address .csz div.form-field {
  float: left;
  margin-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 89, ../../../app/assets/stylesheets/dashboard/forms.css.scss */
form .form-address .csz div.form-field.city input {
  width: 80px;
}
/* line 94, ../../../app/assets/stylesheets/dashboard/forms.css.scss */
form .form-address .csz div.form-field.state input {
  width: 30px;
}
/* line 99, ../../../app/assets/stylesheets/dashboard/forms.css.scss */
form .form-address .csz div.form-field.zip input {
  width: 40px;
}

/* line 111, ../../../app/assets/stylesheets/dashboard/forms.css.scss */
.selectbox {
  float: left;
  margin: 0 15px 0 0px !important;
}
/* line 115, ../../../app/assets/stylesheets/dashboard/forms.css.scss */
.selectbox .text {
  font-size: 12px;
  color: #727474;
  float: left;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  margin: 0;
  padding-right: 26px;
  height: 30px;
  overflow: hidden;
  background: transparent url("/assets/dd-select.png") no-repeat right -26px;
  position: relative;
  top: -1px;
}
/* line 131, ../../../app/assets/stylesheets/dashboard/forms.css.scss */
.selectbox .text em {
  display: none;
  position: absolute;
  margin: 6px 0 0 10px;
  width: 16px;
  height: 16px;
  background: transparent url("/assets/loading.gif") no-repeat center center;
}
/* line 140, ../../../app/assets/stylesheets/dashboard/forms.css.scss */
.selectbox .text span {
  margin: 1px 0 0 0;
  padding: 6px 0 0 10px;
  background: transparent url("/assets/dd-select.png") no-repeat left top;
  display: block;
  height: 30px;
  color: #727474;
}

/* line 153, ../../../app/assets/stylesheets/dashboard/forms.css.scss */
.set-password.existing-user {
  display: none;
}

/* line 159, ../../../app/assets/stylesheets/dashboard/forms.css.scss */
form.edit_agency table {
  width: 80%;
}
/* line 162, ../../../app/assets/stylesheets/dashboard/forms.css.scss */
form.edit_agency table td {
  border-left: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
}
/* line 167, ../../../app/assets/stylesheets/dashboard/forms.css.scss */
form.edit_agency input[type="submit"] {
  margin-top: 20px;
}
