<% content_for :title do %>
    <%= @care_recipient.full_name %>
<% end %>

<% content_for :page_caption do %>
    Visits History (Approved Visits)
<% end %>

<div class="fill-page">
  <% unless @visits.empty? %>
      <%= render 'shared/table_visits_read_only', :mode => :employee, :visits => @visits %>
  <% else %>
      <p>There are no visits in <%= @care_recipient.full_name %>'s history.</p>
  <% end %>
</div>