<div class="total">
  Total: @invoices_total
</div>
<div class="buttons">
  <%= link_tag 'Save', dashboard_reports_billing_save_pending_path, :class => 'link-button' %>
  <%= link_tag 'Cancel', dashboard_reports_billing_cancel_pending_path, :class => 'link-button' %>
</div>