<div class="agency-user-count-wrapper">
  <div class="user-count">You have <%= @agency.users.count %> of <%= @agency.max_users %> Users</div>
  <div class="upgrade-link">
    Want more users? <%= link_to 'Upgrade today!', dashboard_settings_agency_path %>
  </div>
</div>