<div id="app-links">

    <span class="ios">
    <%= link_to 'https://itunes.apple.com/us/app/boomr/id603138610?ls=1&mt=8', :target => '_blank' do %>
    <%= image_tag 'app_store_badge.png', :alt => 'Download on the App Store', :title => 'Download on the App Store' %>
    <% end %>
    </span>
    <span class="android">
      <a href="https://play.google.com/store/apps/details?id=com.boomr.com" target="_blank">
        <img alt="Android app on Google Play" title="Android app on Google Play"
             src="https://developer.android.com/images/brand/en_app_rgb_wo_45.png" />
      </a>
    </span>

</div>