<div class="bottom-box">
  <div class="left">
    <h3>Designed for home care agencies,<br>
      their employees and clients.</h3>
    <p>Try Boomr for free - we will give you 3 free user accounts, no payment, no hassle and no expiration date. Help deliver better service to your customers, and empower your staff to do more.</p>
  </div>
  <div class="right">
    <p class="sign-up-button"><a href="#">Sign Up</a></p>
    <p>Our app is free to try for up to 3 users. No contracts, or long-term commitments. Sign up takes a few minutes and you can cancel at any time.</p>
  </div>
</div>