<%= render 'dashboard/shared/page_caption', :caption => 'Visits Currently in Session' %>
<% unless visits.empty? %>
    <table id="pending-visits" class="visits-table">
      <thead>
      <tr>
        <th>Date</th>
        <th>Employee</th>
        <th>Pay Rate</th>
        <th>Client</th>
        <th>Bill Rate</th>
        <th>In</th>
        <th>Location</th>
        <th>Data</th>
      </tr>
      </thead>
      <tbody>
      <% visits.each do |visit| %>
          <%=  render 'shared/row_visit', :visit => visit, :type => :pending %>
      <% end %>
      </tbody>
    </table>
<% else %>
    <p>There are currently no visits in session.</p>
<% end %>