
<h1>

  About Boomr

</h1>

<div class="centered-icon">
  <%= image_tag 'bolt-icon.png' %></div>

<div class="styled-white-box">
  <p>Boomr was started by the owners of two large home care agencies who were united by the belief that their industry was
    ripe for innovation. After growing their respective businesses to cover dozens of markets with thousands of employees
    on payroll, the gross operational inefficiencies that plague nearly all home care agencies became too burdensome to
    ignore.
  </p>
  <p>
    Frustrated with the lack of options that were available to them for verifying the time and location of their
    caregivers during visits, and wanting to minimize the cost and conversion time of introducing an electronic visit
    note, they decided to build a mobile product that would run on a smartphone and replace the antiquated telephony
    systems that have become an industry standard for over 20 years.
  </p>
  <p>
    Joining them to develop the technology behind Boomr
    were a developer and a designer, both of whom had experience in building web-based software products and growing
    companies with large growth potential in niche markets. Together, the Boomr team is committed to building products
    that are smart, simple and lean in order to elevate the home care industry into the modern era of technology.
  </p>
</div>