/* line 4, ../../../app/assets/stylesheets/front_end/common.css.scss */
body.constrained-content #content {
  width: 960px;
  margin: 0 auto;
}

/* line 15, ../../../app/assets/stylesheets/front_end/common.css.scss */
.jumbotron .inner {
  max-width: 990px;
  margin: 0 auto;
}

/* line 20, ../../../app/assets/stylesheets/front_end/common.css.scss */
#page {
  margin: 0 auto;
}

/* line 24, ../../../app/assets/stylesheets/front_end/common.css.scss */
#header {
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 990px;
}
/* line 29, ../../../app/assets/stylesheets/front_end/common.css.scss */
#header #header-inner {
  margin: 0 auto;
  width: 960px;
}
/* line 34, ../../../app/assets/stylesheets/front_end/common.css.scss */
#header .phone {
  margin-top: 5px;
  margin-right: 25px;
  font-size: 1.4em;
}
/* line 40, ../../../app/assets/stylesheets/front_end/common.css.scss */
#header .nav {
  margin-right: 25px;
  height: 11px;
}
/* line 43, ../../../app/assets/stylesheets/front_end/common.css.scss */
#header .nav .first {
  background: #BFBFBF;
  border-radius: 7px;
  border: #E0E0E0 solid 1px;
  box-shadow: #CCC 0px 2px 2px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 10px;
}
/* line 52, ../../../app/assets/stylesheets/front_end/common.css.scss */
#header .nav .first :hover {
  background: #bfbfbf;
}
/* line 54, ../../../app/assets/stylesheets/front_end/common.css.scss */
#header .nav .first a {
  font-size: 1.0em;
  color: white;
  text-shadow: #969696 0px -1px 1px;
  line-height: 9px;
}
/* line 63, ../../../app/assets/stylesheets/front_end/common.css.scss */
#header .nav .last {
  background: #8ed1d3;
  border-radius: 7px;
  border: #CCFFFF solid 1px;
  box-shadow: #CCC 0px 2px 2px;
  padding-left: 5px;
  padding-right: 5px;
}
/* line 71, ../../../app/assets/stylesheets/front_end/common.css.scss */
#header .nav .last :hover {
  background: #8ed1d3;
}
/* line 75, ../../../app/assets/stylesheets/front_end/common.css.scss */
#header .nav .last a {
  font-size: 1.0em;
  color: white;
  text-shadow: #969696 0px -1px 1px;
  line-height: 9px;
}

/* line 86, ../../../app/assets/stylesheets/front_end/common.css.scss */
#menu {
  margin: 0 auto;
  height: 35px;
  width: 670px;
}
/* line 94, ../../../app/assets/stylesheets/front_end/common.css.scss */
#menu .main-menu ul li {
  list-style-type: none;
  float: left;
  padding-right: 28px;
  margin-left: 28px;
  border-right: #9a9c9f solid 1px;
}
/* line 100, ../../../app/assets/stylesheets/front_end/common.css.scss */
#menu .main-menu ul li a {
  color: #9A9C9F;
  font-size: 1em;
}
/* line 106, ../../../app/assets/stylesheets/front_end/common.css.scss */
#menu .main-menu ul .last {
  border: none;
}

/* line 113, ../../../app/assets/stylesheets/front_end/common.css.scss */
#banner {
  margin: 0 auto;
}

/* line 117, ../../../app/assets/stylesheets/front_end/common.css.scss */
#content {
  margin: 0 auto;
}

/* line 122, ../../../app/assets/stylesheets/front_end/common.css.scss */
.row-fluid .inner {
  padding-bottom: 42px;
  margin: 0 auto;
  width: 965px;
}

/* line 128, ../../../app/assets/stylesheets/front_end/common.css.scss */
#content-bottom {
  min-width: 990px;
}

/* line 132, ../../../app/assets/stylesheets/front_end/common.css.scss */
#footer {
  height: 100px;
  margin-top: 39px;
  clear: both;
  width: 990px;
  margin: 0 auto;
}
/* line 139, ../../../app/assets/stylesheets/front_end/common.css.scss */
#footer #footer-inner {
  padding-top: 35px;
  margin: 0 auto;
  margin: 0 auto;
  max-width: 990px;
}
/* line 144, ../../../app/assets/stylesheets/front_end/common.css.scss */
#footer #footer-inner li {
  list-style-type: none;
}
/* line 146, ../../../app/assets/stylesheets/front_end/common.css.scss */
#footer #footer-inner li a {
  color: #8ED1D3;
}
/* line 152, ../../../app/assets/stylesheets/front_end/common.css.scss */
#footer p {
  float: left;
  font-family: Arial;
  color: #B9BBBD;
  font-size: 0.8em;
  margin-top: 22px;
  text-align: center;
  margin-left: 110px;
}

/* line 165, ../../../app/assets/stylesheets/front_end/common.css.scss */
#content-bottom #inner {
  margin: 0 auto;
  max-width: 990px;
}

/* line 170, ../../../app/assets/stylesheets/front_end/common.css.scss */
.styled-white-box {
  background: white;
  margin-top: 50px;
  border-radius: 7px;
  box-shadow: #909090 0px 0px 7px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 177, ../../../app/assets/stylesheets/front_end/common.css.scss */
.styled-white-box p {
  padding: 5px 10px;
}

/* line 182, ../../../app/assets/stylesheets/front_end/common.css.scss */
.centered-icon {
  margin: 15px auto;
  text-align: center;
}

/* line 188, ../../../app/assets/stylesheets/front_end/common.css.scss */
#app-links span, #app-links div {
  padding: 10px;
}

/* line 192, ../../../app/assets/stylesheets/front_end/common.css.scss */
.bottom-box {
  padding-left: 25px;
  background: white;
  margin-top: 50px;
  border-radius: 7px;
  box-shadow: #909090 0px 0px 7px;
  height: 185px;
  width: 965px;
  margin: 0 auto;
  margin-top: 28px;
}
/* line 199, ../../../app/assets/stylesheets/front_end/common.css.scss */
.bottom-box .left {
  float: left;
  width: 60%;
  color: #6D6E71;
  border-right: #CCC solid 1px;
  padding-right: 12px;
  margin-right: 42px;
  height: 185px;
}
/* line 208, ../../../app/assets/stylesheets/front_end/common.css.scss */
.bottom-box .left p {
  font-weight: normal;
  font-family: Arial;
}
/* line 213, ../../../app/assets/stylesheets/front_end/common.css.scss */
.bottom-box .left h3 {
  color: #6D6E71;
  line-height: 41px;
  font-family: 'HelveticaNeue-CondensedBold';
  font-size: 2.3em;
  margin-top: 24px;
}
/* line 222, ../../../app/assets/stylesheets/front_end/common.css.scss */
.bottom-box .right {
  width: 30%;
  float: left;
}
/* line 225, ../../../app/assets/stylesheets/front_end/common.css.scss */
.bottom-box .right p {
  font-weight: normal;
  font-family: Arial;
  line-height: 17px;
  color: #6D6E71;
}
/* line 231, ../../../app/assets/stylesheets/front_end/common.css.scss */
.bottom-box .right .sign-up-button {
  background-image: url("/assets/sign-up-bottom.png");
  background-repeat: no-repeat;
  height: 41px;
  text-align: center;
  width: 270px;
  padding-top: 27px;
  margin-top: 30px;
  font-size: 0.9em;
}
/* line 241, ../../../app/assets/stylesheets/front_end/common.css.scss */
.bottom-box .right .sign-up-button a {
  font-size: 2.6em;
  color: white;
  text-shadow: #000 0px 1px 1px;
  line-height: 9px;
  font-family: 'HelveticaNeue-CondensedBold', Arial, sans-serif;
}

/* line 253, ../../../app/assets/stylesheets/front_end/common.css.scss */
.phone {
  color: #a5a5a5;
}
