/* line 3, ../../../app/assets/stylesheets/front_end/common.css.scss */
#page {
  margin: 0 auto;
}
/* line 6, ../../../app/assets/stylesheets/front_end/common.css.scss */
#page .nav .first {
  background: #BFBFBF;
  border-radius: 7px;
  border: #E0E0E0 solid 1px;
  box-shadow: #CCC 0px 2px 2px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 10px;
}
/* line 15, ../../../app/assets/stylesheets/front_end/common.css.scss */
#page .nav .first :hover {
  background: #bfbfbf;
}
/* line 17, ../../../app/assets/stylesheets/front_end/common.css.scss */
#page .nav .first a {
  font-size: 1.0em;
  color: white;
  text-shadow: #969696 0px -1px 1px;
  line-height: 9px;
}
/* line 26, ../../../app/assets/stylesheets/front_end/common.css.scss */
#page .nav .last {
  background: #8ed1d3;
  border-radius: 7px;
  border: #CCFFFF solid 1px;
  box-shadow: #CCC 0px 2px 2px;
  padding-left: 5px;
  padding-right: 5px;
}
/* line 34, ../../../app/assets/stylesheets/front_end/common.css.scss */
#page .nav .last :hover {
  background: #8ed1d3;
}
/* line 38, ../../../app/assets/stylesheets/front_end/common.css.scss */
#page .nav .last a {
  font-size: 1.0em;
  color: white;
  text-shadow: #969696 0px -1px 1px;
  line-height: 9px;
}
/* line 47, ../../../app/assets/stylesheets/front_end/common.css.scss */
#page #header {
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 51, ../../../app/assets/stylesheets/front_end/common.css.scss */
#page #header #header-inner {
  margin: 0 auto;
  width: 960px;
}

/* line 58, ../../../app/assets/stylesheets/front_end/common.css.scss */
#menu {
  margin: 0 auto;
  height: 35px;
  width: 665px;
}
/* line 66, ../../../app/assets/stylesheets/front_end/common.css.scss */
#menu .main-menu ul li {
  list-style-type: none;
  float: left;
  padding-right: 28px;
  margin-left: 28px;
  border-right: #9a9c9f solid 1px;
}
/* line 72, ../../../app/assets/stylesheets/front_end/common.css.scss */
#menu .main-menu ul li a {
  color: #9A9C9F;
  font-size: 1em;
}
/* line 78, ../../../app/assets/stylesheets/front_end/common.css.scss */
#menu .main-menu ul .last {
  border: none;
}

/* line 85, ../../../app/assets/stylesheets/front_end/common.css.scss */
#banner {
  margin: 0 auto;
}

/* line 89, ../../../app/assets/stylesheets/front_end/common.css.scss */
#content {
  margin: 0 auto;
}

/* line 94, ../../../app/assets/stylesheets/front_end/common.css.scss */
.row-fluid .inner {
  padding-bottom: 42px;
  margin: 0 auto;
  max-width: 900px;
}

/* line 104, ../../../app/assets/stylesheets/front_end/common.css.scss */
#footer {
  height: 100px;
}
/* line 106, ../../../app/assets/stylesheets/front_end/common.css.scss */
#footer #footer-inner {
  padding-top: 35px;
  margin: 0 auto;
}
/* line 109, ../../../app/assets/stylesheets/front_end/common.css.scss */
#footer #footer-inner li {
  list-style-type: none;
}
/* line 111, ../../../app/assets/stylesheets/front_end/common.css.scss */
#footer #footer-inner li a {
  color: #8ED1D3;
}
/* line 117, ../../../app/assets/stylesheets/front_end/common.css.scss */
#footer p {
  float: left;
  font-family: Arial;
  color: #B9BBBD;
  font-size: 0.8em;
  margin-top: 22px;
  text-align: center;
  margin-left: 110px;
}

/* line 130, ../../../app/assets/stylesheets/front_end/common.css.scss */
#content-bottom #inner {
  padding-left: 30px;
  padding-right: 30px;
}

/* line 135, ../../../app/assets/stylesheets/front_end/common.css.scss */
.styled-white-box {
  background: white;
  margin-top: 50px;
  border-radius: 7px;
  box-shadow: #909090 0px 0px 7px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 143, ../../../app/assets/stylesheets/front_end/common.css.scss */
.centered-icon {
  margin: 15px auto;
  text-align: center;
}

/* line 149, ../../../app/assets/stylesheets/front_end/common.css.scss */
#app-links span, #app-links div {
  padding: 10px;
}

/* line 153, ../../../app/assets/stylesheets/front_end/common.css.scss */
.bottom-box {
  padding-left: 25px;
  background: white;
  margin-top: 50px;
  border-radius: 7px;
  box-shadow: #909090 0px 0px 7px;
  height: 185px;
}
/* line 157, ../../../app/assets/stylesheets/front_end/common.css.scss */
.bottom-box .left {
  float: left;
  width: 60%;
  color: #6D6E71;
  border-right: #CCC solid 1px;
  padding-right: 9px;
  margin-right: 9px;
  height: 185px;
}
/* line 166, ../../../app/assets/stylesheets/front_end/common.css.scss */
.bottom-box .left p {
  font-weight: normal;
  font-family: Arial;
}
/* line 171, ../../../app/assets/stylesheets/front_end/common.css.scss */
.bottom-box .left h3 {
  color: #6D6E71;
  line-height: 41px;
  font-family: 'HelveticaNeue-CondensedBold';
  font-size: 2.3em;
  margin-top: 24px;
}
/* line 180, ../../../app/assets/stylesheets/front_end/common.css.scss */
.bottom-box .right {
  width: 30%;
  float: left;
}
/* line 183, ../../../app/assets/stylesheets/front_end/common.css.scss */
.bottom-box .right p {
  font-weight: normal;
  font-family: Arial;
  font-size: 0.8em;
  line-height: 17px;
  color: #6D6E71;
}
/* line 190, ../../../app/assets/stylesheets/front_end/common.css.scss */
.bottom-box .right .sign-up-button {
  background-image: url("/assets/sign-up-bottom.png");
  background-repeat: no-repeat;
  height: 41px;
  text-align: center;
  width: 270px;
  padding-top: 27px;
  margin-top: 30px;
}
/* line 199, ../../../app/assets/stylesheets/front_end/common.css.scss */
.bottom-box .right .sign-up-button a {
  font-size: 2.6em;
  color: white;
  text-shadow: #000 0px 1px 1px;
  line-height: 9px;
  font-family: 'HelveticaNeue-CondensedBold', Arial, sans-serif;
}
