/* line 4, ../../../app/assets/stylesheets/front_end/home.css.scss */
body.home #header {
  background-color: white;
  padding-left: 50px;
  padding-top: 20px;
}
/* line 8, ../../../app/assets/stylesheets/front_end/home.css.scss */
body.home #header #header-inner {
  width: 960px;
  margin: 0 auto;
}
/* line 12, ../../../app/assets/stylesheets/front_end/home.css.scss */
body.home #header #header-inner .nav .first {
  background: #BFBFBF;
  border-radius: 7px;
  border: #E0E0E0 solid 1px;
  box-shadow: #CCC 0px 2px 2px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 10px;
}
/* line 21, ../../../app/assets/stylesheets/front_end/home.css.scss */
body.home #header #header-inner .nav .first :hover {
  background: #bfbfbf;
}
/* line 23, ../../../app/assets/stylesheets/front_end/home.css.scss */
body.home #header #header-inner .nav .first a {
  font-size: 1.0em;
  color: white;
  text-shadow: #969696 0px -1px 1px;
  line-height: 9px;
}
/* line 32, ../../../app/assets/stylesheets/front_end/home.css.scss */
body.home #header #header-inner .nav .last {
  background: #8ed1d3;
  border-radius: 7px;
  border: #CCFFFF solid 1px;
  box-shadow: #CCC 0px 2px 2px;
  padding-left: 5px;
  padding-right: 5px;
}
/* line 40, ../../../app/assets/stylesheets/front_end/home.css.scss */
body.home #header #header-inner .nav .last :hover {
  background: #8ed1d3;
}
/* line 44, ../../../app/assets/stylesheets/front_end/home.css.scss */
body.home #header #header-inner .nav .last a {
  font-size: 1.0em;
  color: white;
  text-shadow: #969696 0px -1px 1px;
  line-height: 9px;
}
/* line 59, ../../../app/assets/stylesheets/front_end/home.css.scss */
body.home #page #jumbo-outer {
  background-image: url("/assets/bg-wide.png");
  background-repeat: no-repeat;
  background-position: center top;
  min-width: 1100px;
}
/* line 67, ../../../app/assets/stylesheets/front_end/home.css.scss */
body.home #page #content .jumbotron {
  height: 465px;
  margin-left: 25px;
}
/* line 68, ../../../app/assets/stylesheets/front_end/home.css.scss */
body.home #page #content .jumbotron .inner {
  width: 990px;
  margin: 0 auto;
}
/* line 75, ../../../app/assets/stylesheets/front_end/home.css.scss */
body.home #page #content .lead {
  float: left;
  color: white;
  text-shadow: #000 1px 1px 1px;
  width: 199px;
  margin-top: 30px;
}
/* line 81, ../../../app/assets/stylesheets/front_end/home.css.scss */
body.home #page #content .lead .lead1 {
  width: 368px;
  font-family: 'HelveticaNeue-CondensedBold', Arial, sans-serif;
  line-height: 34px;
  position: relative;
}
/* line 86, ../../../app/assets/stylesheets/front_end/home.css.scss */
body.home #page #content .lead .lead1 h3 {
  font-size: 1.3em;
  font-family: 'HelveticaNeue-CondensedBold', Arial, sans-serif;
  font-weight: normal;
  line-height: 36px;
}
/* line 94, ../../../app/assets/stylesheets/front_end/home.css.scss */
body.home #page #content .lead .lead2 p {
  font-family: Arial;
  font-weight: normal;
  font-size: 0.85em;
  line-height: 25px;
  width: 274px;
  position: relative;
}
/* line 104, ../../../app/assets/stylesheets/front_end/home.css.scss */
body.home #page #content .home-devices {
  float: right;
  width: 791px;
  margin-top: 52px;
}
/* line 108, ../../../app/assets/stylesheets/front_end/home.css.scss */
body.home #page #content .home-devices img {
  max-height: 440px;
  margin-bottom: -33px;
}
/* line 117, ../../../app/assets/stylesheets/front_end/home.css.scss */
body.home #page #content-bottom {
  background-image: url("/assets/gray-background-tile.jpg");
  margin-top: -53px;
  padding-bottom: 45px;
}
/* line 121, ../../../app/assets/stylesheets/front_end/home.css.scss */
body.home #page #content-bottom h2 {
  font-size: 1.1em;
  font-family: 'HelveticaNeue-CondensedBold', Arial, sans-serif;
  color: #8ed1d3;
  line-height: 6px;
  margin-top: 45px;
  text-align: center;
}
/* line 130, ../../../app/assets/stylesheets/front_end/home.css.scss */
body.home #page #content-bottom .row-fluid {
  margin: 0 auto;
  width: 990px;
  background: white;
  margin-top: 50px;
  border-radius: 7px;
  box-shadow: #909090 0px 0px 7px;
}
/* line 131, ../../../app/assets/stylesheets/front_end/home.css.scss */
body.home #page #content-bottom .row-fluid .inner {
  width: 990px;
}
/* line 140, ../../../app/assets/stylesheets/front_end/home.css.scss */
body.home #page #content-bottom .row-fluid .span3 .span3-inner {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 32px;
}
/* line 146, ../../../app/assets/stylesheets/front_end/home.css.scss */
body.home #page #content-bottom .row-fluid .span3 .span3icon {
  position: relative;
  left: 84px;
  height: 41px;
  width: 56px;
}
/* line 152, ../../../app/assets/stylesheets/front_end/home.css.scss */
body.home #page #content-bottom .row-fluid .span3 img {
  position: absolute;
  bottom: 10px;
}
/* line 157, ../../../app/assets/stylesheets/front_end/home.css.scss */
body.home #page #content-bottom .row-fluid .span3 p {
  color: #58595B;
  font-size: 1em;
}
