/* line 4, ../../../app/assets/stylesheets/front_end/signup.css.scss */
#content-inner h1 {
  color: #7F7D7D;
  text-align: center;
}
/* line 8, ../../../app/assets/stylesheets/front_end/signup.css.scss */
#content-inner h2 {
  color: #7F7D7D;
  font-size: 1.8em;
  font-weight: normal;
}
/* line 13, ../../../app/assets/stylesheets/front_end/signup.css.scss */
#content-inner label {
  font-size: 1em;
  color: #7F7D7D;
}
/* line 17, ../../../app/assets/stylesheets/front_end/signup.css.scss */
#content-inner .label {
  border: none;
  background: none;
  color: #A5A5A5;
  text-shadow: none;
  float: left;
  width: 150px;
}
/* line 24, ../../../app/assets/stylesheets/front_end/signup.css.scss */
#content-inner .label label {
  font-size: 1.4em;
  color: #7F7D7D;
}
/* line 29, ../../../app/assets/stylesheets/front_end/signup.css.scss */
#content-inner .field {
  margin-bottom: 15px;
  margin-top: 15px;
}
/* line 32, ../../../app/assets/stylesheets/front_end/signup.css.scss */
#content-inner .field input {
  border: #8ED1D3 solid 2px;
  width: 310px;
  height: 15px;
}
/* line 38, ../../../app/assets/stylesheets/front_end/signup.css.scss */
#content-inner #service-plan-3 {
  float: left;
  width: 32px;
}
/* line 42, ../../../app/assets/stylesheets/front_end/signup.css.scss */
#content-inner #service-plan-more {
  float: left;
  width: 32px;
  margin-left: 157px;
}
/* line 47, ../../../app/assets/stylesheets/front_end/signup.css.scss */
#content-inner #submit-agreement {
  color: #7F7D7D;
  font-family: 'Helvetica', Arial, sans-serif;
  width: 500px;
  margin-top: 60px;
}
/* line 53, ../../../app/assets/stylesheets/front_end/signup.css.scss */
#content-inner .submit {
  background-image: url("/assets/sign-up-bottom.png");
  background-repeat: no-repeat;
  height: 41px;
  text-align: center;
  width: 225px;
  padding-top: 27px;
  margin-top: 22px;
  background-size: 66%;
}
/* line 62, ../../../app/assets/stylesheets/front_end/signup.css.scss */
#content-inner .submit input {
  font-size: 1.3em;
  color: white;
  text-shadow: #000 0px 1px 1px;
  line-height: 9px;
  font-family: 'HelveticaNeue-CondensedBold', Arial, sans-serif;
  border: none;
  background: none;
  height: 54px;
  margin-top: -41px;
  margin-left: -78px;
}
/* line 75, ../../../app/assets/stylesheets/front_end/signup.css.scss */
#content-inner .left {
  float: left;
}
/* line 78, ../../../app/assets/stylesheets/front_end/signup.css.scss */
#content-inner .sign-up-image {
  height: 550px;
  margin-left: 540px;
  margin-top: 65px;
}
