/* line 4, ../../../app/assets/stylesheets/front_end/signup.css.scss */
body.index .submit input {
  margin-top: -11px !important;
}

/* line 10, ../../../app/assets/stylesheets/front_end/signup.css.scss */
body.setup h2 {
  color: #7F7D7D !important;
  font-size: 1.8em !important;
  font-weight: normal !important;
}
/* line 15, ../../../app/assets/stylesheets/front_end/signup.css.scss */
body.setup h3 {
  color: #7F7D7D;
  font-size: 1.2em;
  font-weight: normal;
}
/* line 20, ../../../app/assets/stylesheets/front_end/signup.css.scss */
body.setup .submit input {
  margin-top: -11px !important;
}

/* line 26, ../../../app/assets/stylesheets/front_end/signup.css.scss */
#content-inner h1 {
  color: #7F7D7D;
  text-align: center;
}
/* line 30, ../../../app/assets/stylesheets/front_end/signup.css.scss */
#content-inner h2 {
  color: #7F7D7D;
  font-size: 1.8em;
  font-weight: normal;
}
/* line 36, ../../../app/assets/stylesheets/front_end/signup.css.scss */
#content-inner label {
  font-size: 1em;
  color: #A5A5A5;
  width: 465px;
}
/* line 41, ../../../app/assets/stylesheets/front_end/signup.css.scss */
#content-inner .label {
  border: none;
  background: none;
  color: #A5A5A5;
  text-shadow: none;
  float: left;
  width: 150px;
}
/* line 48, ../../../app/assets/stylesheets/front_end/signup.css.scss */
#content-inner .label label {
  font-size: 1.4em;
  color: #A5A5A5;
}
/* line 54, ../../../app/assets/stylesheets/front_end/signup.css.scss */
#content-inner .field {
  margin-bottom: 15px;
  margin-top: 15px;
}
/* line 57, ../../../app/assets/stylesheets/front_end/signup.css.scss */
#content-inner .field input {
  border: #8ED1D3 solid 2px;
  width: 310px;
  height: 15px;
}
/* line 63, ../../../app/assets/stylesheets/front_end/signup.css.scss */
#content-inner #service-plan-3 {
  float: left;
  width: 32px;
}
/* line 67, ../../../app/assets/stylesheets/front_end/signup.css.scss */
#content-inner #service-plan-more {
  float: left;
  width: 32px;
  margin-left: 157px;
}
/* line 72, ../../../app/assets/stylesheets/front_end/signup.css.scss */
#content-inner #submit-agreement {
  color: #7F7D7D;
  font-family: 'Helvetica', Arial, sans-serif;
  width: 500px;
  margin-top: 60px;
}
/* line 78, ../../../app/assets/stylesheets/front_end/signup.css.scss */
#content-inner .submit {
  background-image: url("/assets/sign-up-bottom.png");
  background-repeat: no-repeat;
  height: 41px;
  text-align: center;
  width: 225px;
  margin-top: 22px;
  background-size: 66%;
}
/* line 86, ../../../app/assets/stylesheets/front_end/signup.css.scss */
#content-inner .submit input {
  font-size: 1.3em;
  color: white;
  text-shadow: #000 0px 1px 1px;
  line-height: 9px;
  font-family: 'HelveticaNeue-CondensedBold', Arial, sans-serif;
  border: none;
  background: none;
  height: 54px;
  margin-top: -41px;
  margin-left: -78px;
}
/* line 99, ../../../app/assets/stylesheets/front_end/signup.css.scss */
#content-inner .left {
  float: left;
  width: 500px;
}
/* line 102, ../../../app/assets/stylesheets/front_end/signup.css.scss */
#content-inner .left p {
  color: #A5A5A5;
  font-family: 'Helvetica-Light', Arial, sans-serif;
  font-size: 1.1em;
}
/* line 108, ../../../app/assets/stylesheets/front_end/signup.css.scss */
#content-inner .sign-up-image {
  height: 550px;
  margin-left: 540px;
  margin-top: 65px;
}
/* line 113, ../../../app/assets/stylesheets/front_end/signup.css.scss */
#content-inner .confirm-title {
  text-align: center;
}

/* line 118, ../../../app/assets/stylesheets/front_end/signup.css.scss */
body.setup .submit {
  float: right;
  margin-right: -60px;
  margin-top: -6px !important;
}
/* line 122, ../../../app/assets/stylesheets/front_end/signup.css.scss */
body.setup .submit h3 {
  color: #7F7D7D;
  font-size: 1.2em;
  font-weight: normal;
}

/* line 130, ../../../app/assets/stylesheets/front_end/signup.css.scss */
body.contact #content {
  width: 645px;
}
/* line 133, ../../../app/assets/stylesheets/front_end/signup.css.scss */
body.contact .contact-title {
  border-bottom: #C4C6C7 1px solid;
  margin-top: 40px;
}
/* line 137, ../../../app/assets/stylesheets/front_end/signup.css.scss */
body.contact p.first {
  width: 215px;
  float: left;
  margin-top: -8px;
}
/* line 142, ../../../app/assets/stylesheets/front_end/signup.css.scss */
body.contact p.second {
  text-align: left;
  font-size: 0.3em;
  color: #A5A5A5;
  font-family: 'Helvetica-Light', Arial, sans-serif;
  font-weight: normal;
  width: 701px;
  margin-left: 241px;
  margin-bottom: -5px;
}
/* line 152, ../../../app/assets/stylesheets/front_end/signup.css.scss */
body.contact .field input {
  width: 470px !important;
}
/* line 155, ../../../app/assets/stylesheets/front_end/signup.css.scss */
body.contact textarea {
  width: 470px;
  border: #8ED1D3 solid 2px;
  height: 200px;
}
/* line 160, ../../../app/assets/stylesheets/front_end/signup.css.scss */
body.contact .sign-up-image {
  background-image: url("/assets/sign-up-bottom.png");
  background-repeat: no-repeat;
  height: 41px;
  text-align: center;
  width: 225px;
  padding-top: 27px;
  margin-top: 22px;
  background-size: 66%;
}
/* line 169, ../../../app/assets/stylesheets/front_end/signup.css.scss */
body.contact .sign-up-image input {
  font-size: 1.3em;
  color: white;
  text-shadow: #000 0px 1px 1px;
  line-height: 9px;
  font-family: 'HelveticaNeue-CondensedBold', Arial, sans-serif;
  border: none;
  background: none;
  height: 54px;
  margin-top: -41px;
  margin-left: -78px;
}
/* line 182, ../../../app/assets/stylesheets/front_end/signup.css.scss */
body.contact .sign-up-image {
  margin-left: 498px !important;
  margin-top: -10px !important;
}

/* line 188, ../../../app/assets/stylesheets/front_end/signup.css.scss */
body.thanks #content-inner {
  text-align: center;
}
/* line 190, ../../../app/assets/stylesheets/front_end/signup.css.scss */
body.thanks #content-inner p {
  font-size: 1.5em;
  text-align: center;
  margin-top: 25px;
  color: #a5a5a5;
}
/* line 197, ../../../app/assets/stylesheets/front_end/signup.css.scss */
body.thanks #content-inner .submit {
  padding-top: 10px !important;
  margin-left: 40%;
}
/* line 201, ../../../app/assets/stylesheets/front_end/signup.css.scss */
body.thanks #content-inner a {
  font-size: 1.3em;
  color: white;
  text-shadow: #000 0px 1px 1px;
  line-height: 9px;
  font-family: 'HelveticaNeue-CondensedBold', Arial, sans-serif;
  border: none;
  background: none;
  height: 54px;
  margin-top: -41px;
  margin-left: -78px;
}
