$softBlue: #8ED1D3;
$standardFont: 'HelveticaNeue-CondensedBold', Arial, sans-serif;
$textColor: #A5A5A5;

@mixin styled-white-box {
  background: white;
  margin-top: 50px;
  border-radius: 7px;
  box-shadow: #909090 0px 0px 7px;
}