@import 'front_end/sass';

body.benefits {
  #menu {
    .third {
      a {
        font-weight: bold;
      }
    }
  }
  #header {
    background-image: url(image_path('gray-background-tile.jpg'));
  }
  #jumbo-outer {
    background-image: url(image_path('benefits-bg.jpg'));
    background-repeat: no-repeat;
    background-position: center top;
    //margin-left: -345px;
    //padding-left: 345px;

  }
  #content {
    .jumbotron {
      height: 305px;
      text-align: center;
      padding-top: 65px;
      margin-left: 245px;
      h2 {
        font-size: 2.1em;
        color: white;
        text-shadow: #000 0px 1px 1px;
        line-height: 25px;
        font-family: 'HelveticaNeue-CondensedBold', Arial, sans-serif;
        margin-top: 30px;
      }
      .lead {
        font-size: 1.7em;
        color: white;
        text-shadow: #000 0px 1px 1px;
        line-height: 25px;
        font-family: 'HelveticaNeue-CondensedBold', Arial, sans-serif;
        margin-top: 30px;
      }
      .last {
        color: white;
        text-shadow: #000 0px 1px 1px;
      }
    }
    .row-fluid {

      img{
        float: left;
        margin-right: 14px;
        margin-top: -12px;
      }
      h4 {
        margin-bottom: 35px;
        color: #8ED1D3;
        font-family: 'HelveticaNeue-CondensedBold', Arial, sans-serif;
        font-size: 1.3em;
        margin-top:  10px;

      }
      .quote {
         background-color: #8ED1D3;
         margin-top: 15px;
        padding: 20px;
        border-radius: 7px;
        h4{
          color: white;
          font-family: Arial;
          font-weight: normal;
          margin-bottom: 5px;

        }
        p {
          color: white;
          font-style: italic;
        }
      }
      .item {
        height: 225px;
        margin-bottom: 60px;
        border-bottom: #CCC solid 1px;
      }
      p {
        color: #58595B;
      }
     .last {
       border: none;
     }
    }

  }
  #content-bottom{
    background-image: url(image_path('gray-background-tile.jpg'));
    padding-top: 5px;
    padding-bottom: 60px;
    .inner {
      margin: 0 auto;
    }



  }

}
