@import 'front_end/sass';

body.pricing  {
  #header {
    background-image: url(image_path('gray-background-tile.jpg'));
  }


  #content-bottom{
    background-image: url(image_path('gray-background-tile.jpg'));
    padding-top: 5px;
    padding-bottom: 60px;
    .inner {

      margin: 0 auto;
    }
  }
  .pricing-main{
    text-align: center;
    h1{
      color: #7F7D7D;
      font-size: 2.8em;
    }
    p{
      color: #A5A5A5;
      font-size: 1.2em;
    }
    .pricing-box {
      border: #99CCCC solid 3px;
      border-radius: 7px;
      width: 505px;
      height: 150px;
      padding: 20px;
      color: #A5A5A5;
      font-size: 1.2em;
      margin: 0 auto;
      margin-top: 80px;
      margin-bottom: 80px;
      padding-top: 30px;

      .ten {
        color: #7F7D7D;
        font-size: 1.8em;
      }
    }

  }
  #menu {
    .fourth {
      a {
        font-weight: bold;
      }
    }
  }

}
