<% content_for :sidebar_second do %>
    <h3>View all of the notes and photos associated with this client here.</h3>

    <p>You can view notes and photos in live feed format or filter the page to find what you are looking for. Click on "view" to see the note or photo in detail.</p>
<% end %>

<%=content_for :title do %>
    <%= @care_recipient.full_name %>
<% end %>


<table>
  <caption>Notes &amp; Photos</caption>

</table>

<h3>Notes</h3>
<%= render 'shared/notes_table', :notes => @notes %>

<h3>Photos</h3>
<%= render 'shared/photos_table', :photos => @photos %>