<%= javascript_include_tag 'dashboard/settings/jump_menu' %>

<h2>Choose a Section</h2>

<%= form_tag do %>
    <div class="field">
      <%= select_tag :page_type, options_from_collection_for_select(@settings_options, :first, :last, @page_type) %>
    </div>



<% end %>