<nav id="dashboard-clients-menu" class="dashboard-sidebar-menu">

  <% if @care_recipient.blank? or @care_recipient.id.blank? %>
      <%= render_navigation :level => 3 %>
  <% else %>
      <%= render_navigation :level => 4 %>
  <% end %>

</nav>
