<% content_for :sidebar_second do %>
    <h3>View client info from this page.</h3>

    <p>Click one of the links to drill down into specific client data.</p>
<% end %>

<% content_for :page_caption do %>
    Links
<% end %>

<% content_for :title do %>
    @care_recipient.full_name
<% end %>


<div id="clients-wrapper" class="fill-page">
  <%= render 'dashboard/shared/clients_table' %>
</div>