@import 'sass';
@import 'compass';

body.dashboard {

  .title-wrapper {
    width: 100%;
    overflow: auto;

    border-bottom: 1px solid $borderColor;

    h1 {
      font-weight: normal;
      float: left;
      margin-right: 50px;
      margin-top: 1.05em;
    }

    #page-top {
      margin-top: 1.5em;
      float: left;

      form {


        div.field {
          float: left;
          margin-right: 15px;

          &.search-field {
            @include light-shade-with-border;
            height: 30px;
            padding-top: 4px;
            margin-right: 0px;

            input[type="text"] {
              border: 0;
            }
          }
        }



      }
    }

  }

  #page {
    #main {
      #content-inner {
        margin-left: 20px;

        .page-caption {
          margin-left: -20px;
          background: #f7f7f7;
          text-transform: uppercase;
          border-top: 1px solid #eae9ea;
          border-bottom: 1px solid #eae9ea;
          padding: 4px 15px;
          color: $bodyText;
          font-size: 14px;



        }
      }
    }
  }

  // Dashboard home page
  &.dashboard-main.index {
    .title-wrapper {
      margin-bottom: 50px;
    }
  }

  // Dashboard visits section
  &.visits {
    #page {
      #main {
        #content {

        }
      }
    }
  }

  table {
    thead {
      td, th {
        @include gradient-table-header;
        border: 1px solid  #d4d4d4;
        border-radius: 2px;
      }
    }
    tbody {
      td {

      }
    }
  }

  table.batch-history {
    tr.batch-details {
      display: none;
    }
  }

}