@import 'sass';
@import 'compass';

body.dashboard {

  .title-wrapper {
    width: 100%;
    overflow: auto;
    margin-bottom: 50px;

    border-bottom: 1px solid $borderColor;

    h1 {
      font-weight: normal;
      //float: left;
      margin-right: 50px;
      margin-top: 1.05em;
    }

    #page-top {
      margin: 1.5em 0;

      form {

        div.field {
          float: none;
          display: inline-block;
          vertical-align: middle;
          margin-right: auto;

          &.search-field {

          }

          input {
            display: block;
          }
        }



      }
    }

  }

  #page {
    #main {
      #content-inner {
        margin-left: 20px;

        .page-caption {
          margin-left: -20px;
          background: #f7f7f7;
          text-transform: uppercase;
          border-top: 1px solid #eae9ea;
          border-bottom: 1px solid #eae9ea;
          padding: 4px 15px;
          color: $bodyText;
          font-size: 14px;



        }
      }
    }
  }

  // Dashboard home page
  &.dashboard-main.index {
    .title-wrapper {
      margin-bottom: 50px;
    }
  }

  // Dashboard visits section
  &.visits {
    #page {
      #main {
        #content {

        }
      }
    }
  }

  table {
    thead {
      td, th {
        @include gradient-table-header;
        border: 1px solid  #d4d4d4;
        border-radius: 2px;
      }
    }
    tbody {
      tr {
        border-bottom: 1px solid $borderColor;
      }
      td {
        vertical-align: middle;
      }
    }
  }

  table.batch-history {
    tr.batch-details {
      display: none;
    }
  }

}