@import 'sass';

h1, h2, h3, h4, h5, h6, h7 {
  font-family: $baseFont;
  font-weight: normal;
}

table {
  width: 100%;

  td, th {
    padding: 8px;
    vertical-align: top;
    text-align: left;
  }
}

input[type="text"],
input[type="tel"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="url"],
textarea {
  @include light-shade-with-border;
  border-radius: 2px;
  padding: 5px 8px;
  height: 24px;

}

select {
  display: block;
  opacity: 0.0;
  position: absolute;
  z-index: 2;

  &.normal {
   display: inline;
    position: relative;
    opacity: 1.0;
  }
}

button, input[type="button"], input[type="submit"] {
  //background: #f0f9ff; /* Old browsers */
  //background: -moz-linear-gradient(top,  #f0f9ff 0%, #e2e2e2 100%); /* FF3.6+ */
  //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f9ff), color-stop(100%,#e2e2e2)); /* Chrome,Safari4+ */
  //background: -webkit-linear-gradient(top,  #f0f9ff 0%,#e2e2e2 100%); /* Chrome10+,Safari5.1+ */
  //background: -o-linear-gradient(top,  #f0f9ff 0%,#e2e2e2 100%); /* Opera 11.10+ */
  //background: -ms-linear-gradient(top,  #f0f9ff 0%,#e2e2e2 100%); /* IE10+ */
  //background: linear-gradient(to bottom,  #f0f9ff 0%,#e2e2e2 100%); /* W3C */
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */

@include gradient-blue-button;

  padding: 8px 12px;
}

hr {
  border-top-color: $borderColor;
}