@import 'sass';

body.main {
  #page {

    #content {
      width: 100%;

      #content-inner {
        padding: 20px;
      }
    }



  }
}

body.with-sidebar-second {
  #page {

    #main {
      #sidebar-second {
        float: left;
        width: 208px;
        border-left: 1px solid $borderColor;
        min-height: 400px;
        background: #f6f9fb;


        .main-col-inner {
          padding: 8px 8px 60px 8px;
        }
      }


      #content {
        width: 650px;
      }
    }

  }

}

#page {
  width: 1030px;
  margin: 0 auto;
  background:#fff;
  @include shadow-sides;


  #header, #main, #footer {
  }

  #header {
    background: url(top-toolbar-bg.jpg) repeat-x;
    height: 55px;

    #header-inner {
      padding: 10px 20px;
    }

    h1 {
      margin: 0;
      margin-top: 11px;
      font-size: 21px;
      color: #727474;
      float: left;
    }


    #top-bar {
      #greeting {
        float: right;
        margin-right: 50px;
        font-size: 15.53px;
        margin-top: 15px;
      }
    }

  }

  #main {

    .main-col-inner {
      padding: 8px 0px 60px 0px;
    }

    #sidebar-first {
      float: left;
      width: $leftSidebarWidth;
      border-right: 1px solid $borderColor;
      min-height: 400px;
      background: #fff;

      .main-col-inner {
        padding: 0;
        padding-bottom: 60px;
      }
    }

    #content {
      float: left;
      width: 860px;
      background: #fff;

      .main-col-inner {
        padding-bottom: 300px;
      }
    }

  }

}

#copyright {
  font-size: 0.8em;
  text-align: center;
  margin-top: 40px;
}

#footer-menu {
  text-align: center;
  margin: 30px auto;
}