@import 'sass';

body.main {
  #content {
    width: 100%;
  }
}

body.with-sidebar-second {
  #page {

    #main {
      #sidebar-second {
            float: left;
            width: 208px;
            border-left: 2px solid #dfe1e1;
            min-height: 400px;
            background: #f6f9fb;
          }

          #content {
            float: left;
            width: 650px;
          }
    }

  }

}

#page {
  width: 1030px;
  margin: 0 auto;
  background:#fff;
  @include shadow-sides;


  #header, #footer {
    width: 100%;
  }

  #header {
    background: #f7f8f8;
    #header-inner {
      padding: 10px;
    }
  }

  #main {

    .main-col-inner {
      padding: 8px 8px 60px 8px;
    }

    #sidebar-first {
      float: left;
      width: 168px;
      border-right: 2px solid #dfe1e1;
      min-height: 400px;
      background: #f7f7f8;

      .main-col-inner {
        padding: 0;
        padding-bottom: 60px;
      }
    }

    #content {
      float: left;
      width: 860px;
    }

  }

}

#copyright {
  font-size: 0.8em;
  text-align: center;
  margin-top: 40px;
}
