@import 'sass';

nav {
  ul, li {
    @include reset-list;
  }
}

#breadcrumb {
  color: $breadcrumbInactiveText;

  span {
    color: $leftNavText;
  }

  a {
    color: $breadcrumbInactiveText;
  }
}

#navigation {
  margin-top: 16px;
  background: #fff;
  border-bottom: 1px solid  $borderColor;


  #dashboard-top-menu {
    margin-left: $leftSidebarWidth;

    ul, li {
      @include reset-list;
    }

    ul {
    }

    li {
      display: inline-block;
      padding-left: 30px;
      padding-right: 30px;
      text-align: center;

      a {
        border: none;
        display: inline-block;

        font-family: $baseFont;

        font-size: 1.2em;
        text-align: center;
        padding: 10px 0px;

        color: #727474;
        text-decoration: none;

        &:hover {
        }
      }

      &.selected {
        border-top: 3px solid $lightAqua;
        border-right: 1px solid $borderColor;
        border-left: 1px solid $borderColor;
        border-bottom: 1px solid #fff;
        position: relative;
        bottom: -1px;
      }
    }
  }


}

#top-menu {
  float: right;
  margin: 0;

  a  {
    display: inline-block;
    @include gradient-red-button;
    text-decoration: none;
    margin: 0px 8px;
    padding: 5px 12px;
  }
  #sign-out {

  }

}


.dashboard-sidebar-menu {
  ul {
    li {
      @include bold-font;
      color: $navText;

      li.selected {
        color: $leftNavText;

      }

      a.selected{
        color: $leftNavText;
      }

      a {
        display: block;
        padding: 12px 12px;
        color: $navText;
        text-decoration: none;
      }

      ul {
          margin-left: 15px;
      }
    }
  }
}

