@import 'sass';


ul, ol {
  &.three-columns {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

tr.visit-row {
  &.approved {
    background: #ccffcc;
  }

  td {
    &.employee, &.client {
      width: 120px;
    }

    &.payrate, &.billrate {
      width: 70px;

      input[type="text"] {
        width: 50px;
      }
    }

    &.in-time, &.out-time {
      width: 100px;
    }

    &.duration {
      width: 70px;
    }

    &.wrapper {
      padding: 0;
      text-align: left;

      table {
        width:100%;
      }
    }
  }
}

#activity-stream-wrapper {
  .activity-stream-item {

    margin: 10px 0;

    div.icon {
      float: left;
      width: 75px;
      height:75px;
      margin-right: 10px;
    }

    h3 {
      font-size: 1.2em;
    }

    div.time {
      font-size: 0.85em;
      font-style: italic;
    }

    &.js {
      display: none;
    }
  }

}