@import 'sass';


ul, ol {
  &.three-columns {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

tr.visit-row {
  &.approved {
    background: #ccffcc;
  }

  td {
    &.employee, &.client {
      width: 120px;
    }

    &.payrate, &.billrate {
      width: 60px;

      input[type="text"] {
        width: 30px;
      }
    }

    &.in-time, &.out-time {
      width: 65px;
    }

    &.duration {
      width: 60px;
    }

    &.wrapper {
      padding: 0;
      text-align: left;

      table {
        width:100%;
      }
    }

    &.approve {
      text-align: center;
    }
  }
}

#activity-stream-wrapper {
  .activity-stream-item {
    clear: both;
    margin: 10px 0;

    div.icon {
      float: left;
      width: 75px;
      height:75px;
      margin-right: 10px;
    }

    h3 {
      font-size: 1.2em;
    }

    div.time {
      font-size: 0.85em;
      font-style: italic;
    }

    &.js {
      display: none;
    }
  }

}


.add-button, .link-button {
  @include gradient-gray-button;
  display: inline-block;
  font-weight: normal;
  text-decoration: none;
  margin: 0px;
  padding: 5px 12px;
}

table.assignment-selection {

  tr {
    border-bottom: 1px solid $borderColor;
  }

  td.name {
    width: 300px;
  }

  td.selection {
    width: 100px;
    text-align: center;

    input {
      padding: 4px 12px;
    }
    span {
      display:inline-block;
      padding: 4px 0;
    }
  }

}

div.fill-page {
  margin-left: -20px;
}

table.client-table, table.employee-table {
  width: 100%;

  tr.client-row, tr.employee-row {
    border-bottom: 1px solid $borderColor;

    td {
      vertical-align: middle;

      &.name {
        padding-left: 15px;
        font-size: 1em;
      }
    }
  }
}

table.visits {
  td.date {
    width: 80px;
  }
}