<% content_for :sidebar_second do %>
    <h3>Edit client's profile information here.</h3>

    <p>
      If you make an edit, make sure to click the "Save Changes" button.
    </p>
<% end %>
<% content_for :title do %>
    <h1><%= @employee.full_name %>'s Profile</h1>
<% end %>

<%= render 'dashboard/shared/employee_form', :user => @employee %>