<div id="copyright">
  Copyright &copy; 2011-<%= Time.new.year %>, Boomr Healthcare Inc.  All rights reserved.
  <% unless current_user.nil? %>
      <br />
      <br />
      You are logged in as <strong><%= current_user.full_name %> (<%= current_user.email %>)</strong>. Not you? <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
  <% end %>
</div>