<nav id="footer-menu">
  <%= link_to 'Home', root_path %>
  |
  <%= link_to 'Terms of Use', terms_path %>
</nav>

<div id="nap">
  1879 Lundy Ave, #186, San Jose, CA 95131 &nbsp;|&nbsp; (408) 324-0600
</div>

<div id="copyright">
  Copyright &copy; 2011-<%= Time.new.year %>, Boomr Healthcare Inc.  All rights reserved.
</div>