
<div id="site-seal-wrapper">

  <!--<div class="site-seal-element">-->
    <!--<span id="siteseal"><script type="text/javascript" src="https://seal.starfieldtech.com/getSeal?sealID=J81fRjDMt043wqHG1BBSr4CcAvqGWNDVsr4V6lfeyrqCRTQtEpujLC"></script></span>-->
  <!--</div>-->
  <div class="site-seal-element">
    <a href="https://www.braintreegateway.com/merchants/<%= Braintree::Configuration.merchant_id %>/verified" target="_blank">
      <img src="https://braintree-badges.s3.amazonaws.com/05.png" border="0"/>
    </a>
  </div>

</div>