

<div id="top-bar">
  <h1>
    <% unless current_user.nil? or current_user.agency.nil? %>
        <% if current_user.agency.logo.blank? %>
            <%= current_user.agency.name %>
        <% else %>
            <%= wicked_pdf_image_tag current_user.agency.logo.url %>
        <% end %>
    <% else %>
        Boomr
    <% end %>
  </h1>

</div>


