<nav id="top-menu">
    <span class="inner">
      <ul>
        <% if current_user.nil? %>
            <li>
              <%= link_to "Sign In", new_user_session_path %>
            </li>
            <li>
              <%= link_to "Create an Account", new_user_registration_path %>
            </li>
        <% else %>
            <li>
              <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
            </li>
        <% end %>
      </ul>
    </span>
</nav>

